@charset "utf-8";
html,
body {
  height: 100%;
}
html {
  min-width: 320px;
}
body {
  line-height: 1.25em;
  word-wrap: break-word;
}
img {
  max-width: 100%;
  height: auto;
}
table {
  width: 100%;
}
thead,
tbody,
tfoot {
  vertical-align: inherit;
}
li {
  display: block;
}
iframe {
  display: block;
}
label {
  cursor: pointer;
}
abbr {
  cursor: help;
}
.row {
  display: table;
  table-layout: fixed;
  width: 100%;
  overflow-x: hidden;
}
.row > li,
.row > .row-cell {
  display: table-cell;
  vertical-align: top;
}
.box-foo {
  display: block;
}
.list-bar > li {
  display: block;
}
.block-link {
  display: block;
}
.block-image {
  display: block;
}
:root .color-inherit {
  color: inherit;
}
:root .color-black {
  color: #111;
}
:root .color-blackbold {
  color: #111;
  font-weight: bold;
}
:root .color-blue {
  color: #0074d9;
}
:root .color-bluebold {
  color: #0074d9;
  font-weight: bold;
}
:root .color-gray {
  color: #aaa;
}
:root .color-graybold {
  color: #aaa;
  font-weight: bold;
}
:root .color-green {
  color: #2ecc40;
}
:root .color-greenbold {
  color: #2ecc40;
  font-weight: bold;
}
:root .color-orange {
  color: #ff851b;
}
:root .color-orangebold {
  color: #ff851b;
  font-weight: bold;
}
:root .color-red {
  color: #ff4136;
}
:root .color-redbold {
  color: #ff4136;
  font-weight: bold;
}
:root .color-white {
  color: #fff;
}
:root .color-whitebold {
  color: #fff;
  font-weight: bold;
}
:root .color-yellow {
  color: #ffdc00;
}
:root .color-yellowbold {
  color: #ffdc00;
  font-weight: bold;
}
:root .font-sansserif {
  font-family: Arial, sans-serif;
}
:root .font-serif {
  font-family: Georgia, serif;
}
:root .font-monospace {
  font-family: Monaco, monospace;
}
:root .font-bold {
  font-weight: bold;
}
:root .font-italic {
  font-style: italic;
}
:root .font-small {
  font-size: 0.8em;
}
:root .font-large {
  font-size: 1.2em;
}
:root .text-left {
  text-align: left;
}
:root .text-center {
  text-align: center;
}
:root .text-right {
  text-align: right;
}
:root .text-underline {
  text-decoration: underline;
}
:root .vertical-top {
  vertical-align: top;
}
:root .vertical-middle {
  vertical-align: middle;
}
:root .vertical-bottom {
  vertical-align: bottom;
}
:root .lineheight-narrow {
  line-height: 1;
}
:root .lineheight-wide {
  line-height: 1.6em;
}
:root .box-borderbox {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root .box-contentbox {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
:root .cursor-default {
  cursor: default;
}
:root .cursor-pointer {
  cursor: pointer;
}
:root .cursor-help {
  cursor: help;
}
:root .cursor-left {
  cursor: w-resize;
}
:root .cursor-right {
  cursor: e-resize;
}
:root .cursor-deny {
  cursor: not-allowed;
}
:root .display-none {
  display: none;
}
:root .display-block {
  display: block;
}
:root .liststyle-none {
  list-style-type: none;
}
:root .liststyle-disc {
  list-style-type: disc;
}
:root .liststyle-circle {
  list-style-type: circle;
}
:root .liststyle-square {
  list-style-type: square;
}
:root .liststyle-decimal {
  list-style-type: decimal;
}
:root .margin-auto {
  margin-left: auto;
  margin-right: auto;
}
:root .margin0auto {
  margin: 0 auto;
}
:root .margin-tb10px {
  margin-top: 10px;
  margin-bottom: 10px;
}
:root .margin-tb1em {
  margin-top: 1em;
  margin-bottom: 1em;
}
:root .padding-10px {
  padding: 10px;
}
:root .padding-tb10px {
  padding-top: 10px;
  padding-bottom: 10px;
}
:root .padding-lr10px {
  padding-left: 10px;
  padding-right: 10px;
}
:root .table-fixed {
  table-layout: fixed;
}
:root .table-auto {
  table-layout: auto;
}
