// Variables here

// font-family
$sans-serif = Arial, sans-serif
$serif = Georgia, serif
$monospace = Monaco, monospace

// color, background-color
$white = #fff
$black = #000
$link = #007aff
$visited = #609

// line-height
$single = 1.25em
$multiple = 1.6em
