// VARIABLES HERE

// font-family
$sans-serif = Arial, sans-serif
$serif = Georgia, serif
$monospace = Monaco, monospace


// line-height
$single = 1.25em
$multiple = 1.6em


// color, background-color
$link = #0074d9
$visited = #b10dc9
$hover = #7fdbff
$active = #ff851b

$aqua = #7fdbff
$aquabg = #7fdbff

$black = #111111
$blackbg = #111111

$blue = #0074d9
$bluebg = #0074d9

$fuchsia = #f012be
$fuchsiabg = #f012be

$gray = #aaaaaa
$graybg = #aaaaaa

$green = #2ecc40
$greenbg = #2ecc40

$lime = #01ff70
$limebg = #01ff70

$maroon = #85144b
$maroonbg = #85144b

$navy = #001f3f
$navybg = #001f3f

$olive = #3d9970
$olivebg = #3d9970

$orange = #ff851b
$orangebg = #ff851b

$purple = #b10dc9
$purplebg = #b10dc9

$red = #ff4136
$redbg = #ff4136

$silver = #dddddd
$silverbg = #dddddd

$teal = #39cccc
$tealbg = #39cccc

$white = #fff
$whitebg = #fff

$yellow = #ffdc00
$yellowbg = #ffdc00

/*! colors.css v1.0 | http://clrs.cc | @mrmrs | MIT License */
