// Mini Reset here

html,
body
	height 100%

img
	max-width 100%

table
	width 100%

thead,
tbody,
tfoot
	vertical-align inherit

th,
td
	padding 0

li
	display block

iframe
	display block

label
	cursor pointer

abbr
	cursor help
