// Handy classes here

.boxsizing

	&-border
		box-sizing border-box

	&-content
		box-sizing content-box

.cursor

	&-default
		cursor default

	&-pointer
		cursor pointer

	&-help
		cursor help

	&-left
		cursor w-resize

	&-right
		cursor e-resize

	&-deny
		cursor not-allowed

.display

	&-none
		display none !important

	&-block
		display block

.list

	&-none
		list-style-type none

	&-disc
		list-style-type disc

	&-circle
		list-style-type circle

	&-square
		list-style-type square

	&-decimal
		list-style-type decimal

.tablelayout

	&-fixed
		table-layout fixed

	&-auto
		table-layout auto

.imagelinebottom
	line-height 1
	vertical-align bottom
