// MINI RESET HERE

html,
body
	height 100%

html
	min-width 320px

body
	word-wrap break-word

img
	max-width 100%
	height auto

table
	width 100%

thead,
tbody,
tfoot
	vertical-align inherit

li
	display block

iframe
	display block

p
	line-height $single

label
	cursor pointer

abbr
	cursor help
