// CONTAINERS HERE

.block
	&-link
		display block

	&-image
		display block

.box

	&-foo
		display block

.list

	&-bar

		li
			display block

.row
	display table
	table-layout fixed
	width 100%
	overflow-x hidden

	& > li,
	& > &-cell
		display table-cell
		vertical-align top
