// TEXY STYLES HERE

:root

	.color

		&-inherit
			color inherit

		&-black
			color $black

		&-blackbold
			color $black
			font-weight bold

		&-blue
			color $blue

		&-bluebold
			color $blue
			font-weight bold

		&-gray
			color $gray

		&-graybold
			color $gray
			font-weight bold

		&-green
			color $green

		&-greenbold
			color $green
			font-weight bold

		&-orange
			color $orange

		&-orangebold
			color $orange
			font-weight bold

		&-red
			color $red

		&-redbold
			color $red
			font-weight bold

		&-white
			color $white

		&-whitebold
			color $white
			font-weight bold

		&-yellow
			color $yellow

		&-yellowbold
			color $yellow
			font-weight bold


	.font

		&-sansserif
			font-family $sans-serif

		&-serif
			font-family $serif

		&-monospace
			font-family $monospace

		&-bold
			font-weight bold

		&-italic
			font-style italic

		&-small
			font-size 0.8em

		&-large
			font-size 1.2em


	.text

		&-left
			text-align left

		&-center
			text-align center

		&-right
			text-align right

		&-underline
			text-decoration underline


	.vertical

		&-top
			vertical-align top

		&-middle
			vertical-align middle

		&-bottom
			vertical-align bottom


	.lineheight

		&-narrow
			line-height 1

		&-wide
			line-height $multiple
