// HANDY CLASSES HERE

:root

	.box

		&-borderbox
			box-sizing border-box

		&-contentbox
			box-sizing content-box

	.cursor

		&-default
			cursor default

		&-pointer
			cursor pointer

		&-help
			cursor help

		&-left
			cursor w-resize

		&-right
			cursor e-resize

		&-deny
			cursor not-allowed

	.display

		&-none
			display none

		&-block
			display block

	.liststyle

		&-none
			list-style-type none

		&-disc
			list-style-type disc

		&-circle
			list-style-type circle

		&-square
			list-style-type square

		&-decimal
			list-style-type decimal

	.margin

		&-auto
			margin-left auto
			margin-right auto

		&-0auto
			margin 0 auto

		&-tb10px
			margin-top 10px
			margin-bottom 10px

		&-tb1em
			margin-top 1em
			margin-bottom 1em

	.padding

		&-10px
			padding 10px

		&-tb10px
			padding-top 10px
			padding-bottom 10px

		&-lr10px
			padding-left 10px
			padding-right 10px

	.table

		&-fixed
			table-layout fixed

		&-auto
			table-layout auto

