// VARIABLES HERE

// font-family
$sans-serif = Arial, sans-serif
$serif = Georgia, serif
$monospace = Monaco, monospace


// line-height
$single = 1.25em
$multiple = 1.6em


// color, background-color
$black = #111111
$blackbg = #111111

$blue = #0074d9
$bluebg = #0074d9

$gray = #aaaaaa
$graybg = #aaaaaa

$green = #2ecc40
$greenbg = #2ecc40

$orange = #ff851b
$orangebg = #ff851b

$purple = #b10dc9
$purplebg = #b10dc9

$red = #ff4136
$redbg = #ff4136

$white = #fff
$whitebg = #fff

$yellow = #ffdc00
$yellowbg = #ffdc00
